PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:[password]@[host]:[port]/[db]?schema=public
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
GOOGLE_API_KEY=your google api key here
GOOGLE_GEMINI_MODEL=gemini-3.5-flash
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
FACEBOOK_VERIFY_TOKEN=your_fb_verify_token
FRONTEND_URL=http://localhost:3000
